<template name = "boardPage">

	{{#if noSelectedBoard}}
	
	{{else}}
	
	<div style="display:flex;padding-top:20px;overflow-x:scroll;height:90%;">
		{{#each stacks}}
			{{> stackWidget}}
		{{/each}}
		<div id="new-stack" style="height:70px;min-width:300px;max-width:300px">
		<button id="add-stack-button" class="btn btn-link"><i class="fa fa-plus"></i> Add stack...</button>
		<div id="add-stack-box" class="panel panel-default" style="display:none">
		<form style="padding:10px">
		<div class="form-group">
			<textarea id="add-stack-input" class="form-control" style="resize:vertical" autofocus="autofocus"></textarea>
		</div>
		<div class="form-group">
			<button id="create-stack-button" class="btn btn-success"><i class="fa fa-plus"></i> Add</button>
			<button id="cancel-add-stack-button" class="btn"><i class="fa fa-times"></i></button>
		</div>
		</form>
		</div>

		</div>
	</div>
	{{/if}}

</template>

