<template name="createBox">
  <div style="background:white;position:absolute;bottom:50px;left:0;right:0;z-index:2;border-top:1px solid lightgray;max-height:50px">
    <form id="createBox" class="uk-form" style="position:relative;height:300px;z-index:2">      
            <textarea id="create-box-input" style="border:none;resize:none;height:100%;width:100%;" name="content" autocomplete="off" autofocus="autofocus" type="text" value="" placeholder="Add comment here" class="form-control"></textarea>      
      <!--<button style="position:absolute;right:5px;top:5px" class="ui button" id="fullscreen-button"><i class="maximize icon"></i></button>-->
    </form>
  </div>
</template>
