<template name="hubPage">
<div class="ui top attached tabular menu">
    <a class="active item" data-tab="first">Cards</a>
    <a class="item" data-tab="second">Status Board</a>
    <a class="item" data-tab="third">Milestone Board</a>
  </div>
<div class="ui bottom attached active tab segment" data-tab="first">
    	{{>CardFilterInput}}
    	{{> tabular table=TabularTables.Cards class="table table-striped table-bordered table-condensed"}}
  </div>
<div class="ui bottom attached tab segment" data-tab="second">
    Second
  </div>
<div class="ui bottom attached tab segment" data-tab="third">
    Third
  </div>
</template>