<template name="activitySidebar">
<ul class="nav nav-pills nav-stacked">
	<li class="active"><a data-toggle="collapse" href="#activity-sidebar-menu"><span class="caret"></span> Menu</a></li>
	<ul id="activity-sidebar-menu" class="collapse nav nav-pills nav-stacked">
		<li><a id="show-card-list-button" href="">Cards</a></li>
		<li class="disabled"><a href="#">Profile</a></li>
	</ul>
	<h3><small><i class="fa fa-rss"></i> Activity</small></h3>
</ul>
<div style="height:85%;overflow-y:scroll;">
	{{#each messages}}
		{{> Template.dynamic template=messageType}}
	{{/each}}
</div>
</template>

<template name="comment">
	<div class="activity-item" style="margin-bottom:10px;position:relative">
		<img src="{{createdByImageUrl}}" style="position:relative;top:5px;width:25px;float:left;border-radius:50%"/>
		<div style="margin-left:30px">
	    <div style="color:gray">{{username}} <span class="time-label"> - {{formatTime createdAt}}</span></div>
	    <span>{{content}}</span> 
	    </div>
	    
	</div>
</template>

<template name="activity">
	<div class="activity-item" style="margin-bottom:10px;position:relative">
		<img src="{{createdByImageUrl}}" style="position:relative;top:5px;width:25px;float:left;border-radius:50%"/>
		<div style="margin-left:30px">
	    <div style="color:gray">{{username}} <span class="time-label"> - {{formatTime createdAt}}</span></div>
	    <span><i>{{{activityMessage}}}</i></span>
	    </div>
	</div>
</template>