<template name="activitySidebar">
<ul class="nav nav-pills nav-stacked">
<li class="active"><a href="#">Home</a></li>
<li><a href="#">Profile</a></li>
<li class="disabled"><a href="#">Disabled</a></li>

</ul>	
	<div style="height:100%;overflow-y:scroll;padding-bottom:50px">
	{{#each messages}}
		{{> Template.dynamic template=messageType}}
	{{/each}}
	</div>
</template>

<template name="comment">
	<div class="uk-panel" style="padding:10px;position:relative">
		<img src="{{createdByImageUrl}}" style="position:absolute;left:-30px;top: 15px;border-radius:50%"/>
	    <div style="color:gray"><strong>{{username}}</strong> - {{formatTime createdAt}}</div>
	    <span class="uk-panel" style="inline-block">{{content}}</span> 
	    
	</div>
</template>

<template name="activity">
	<div class="uk-panel" style="padding:10px;position:relative">
		<img src="{{createdByImageUrl}}" style="position:absolute;width:20px;left:-23px;top:12px;border-radius:50%"/>
	    <div style="color:gray"><strong>{{username}}</strong> {{{activityMessage}}} -   {{formatTime createdAt}}</div>	    
	</div>
</template>