<template name="cardViewPage">	
	<div id="card-view-page" style="width:300px;height:100%">
	<div class="btn-group  pull-left" role="group" aria-label="...">
  		<button id="back-button" type="button" class="btn btn-default"><i class="fa fa-arrow-left"></i> Back</button>
  	</div>
  	<div class="btn-group pull-right" role="group" aria-label="...">
  		<button type="button" class="btn btn-danger"><i class="fa fa-times "></i> Delete</button>  
	</div>	
	<div style="clear:both;padding-top:10px">
	{{#with currentCard}}
		{{> cardWidget }}
	{{/with}}
	</div>
	<h3><small><i class="fa fa-comment"></i> Comments</small></h3>
	<div style="padding-left:5px; overflow-y:auto;height:55%">
	{{#each messages}}
		{{> Template.dynamic template=messageType}}
	{{/each}}
	</div>
	{{> CreateBoxComponent}}
	</div>
</template>